.card {
    border: none;
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hsla(205, 46%, 30%, 1);
}

.card h1,
h6 {
     color: #fff;
}

label,p{
    color: #fff;
}

label{
    margin-bottom: 3px;
}

a{
    color: #fff;
    margin-top: 10px;
}

input.ng-invalid.ng-touched{
    border:red 1.6px solid;
}

small{
    color: #fff;
}

.eye{
    position: absolute;
    right: 50px;
}

.eye-pos-2{
    bottom: 158px;
 }
 
.eye-pos-1{
    bottom: 239px;
}

button{
    margin-top: 10px;
}