<button class="btn btn-primary btn-sm" (click)="downloadReport()">Download</button>
<button class="btn btn-primary btn-sm">
    <a href="https://app.powerbi.com/links/Kp1M-CBLZ4?ctid=87a25c2a-2cb4-4c40-9cbc-5268c0ed1eeb&pbi_source=linkShare" target="_blank">Power BI</a>
</button>

<br>
<div class="Report" id="content">
<br>
  <!--Forecast Graph-->
  <div class="canva" style="width: 90%">
        <h6>Sales Forecast</h6>
        <canvas baseChart 
        [chartType]="'line'" 
        [legend]="true" 
        [datasets]="chartData" 
        [labels]="chartLabels"
        [options]="chartOptions">
        </canvas>
   </div>
<br>
<br>
<br>
    <!--Graph of Performance Metrics-->
    <div class="canva" style="width: 90%">
        <h6>Performance Measures</h6>
        <canvas baseChart 
        [chartType]="'line'" 
        [legend]="true" 
        [datasets]="chartData2" 
        [labels]="chartLabels2"
        [options]="chartOptions2">
        </canvas>
    </div>
</div>
